:root{
  --bgColor: rgba(39,41,41,1);
  --textColor: rgba(192,207,207,1);
  --dropDownColor: rgba(158,171,171,1);
  --dropDownHoverColor: rgba(175,189,189,1);
  --buttonHoverColor: #348f0d;
  --acentColor: #5A871A;
  --acentHoverColor:#4CAF50;
}

body {
  background-color: var(--bgColor);
}
p{
  color: var(--textColor);
  font-size: 115%;
}

h1 {

  text-align: center;
  font-size: 4vmax;
  color: var(--bgColor);
  border-radius: 15px;
  background: var(--acentColor);
  width: 30vmax;
  position: fixed;
  top: 0.1vmax;
  left: 50%;
  transform: translate(-50%,-50%);

}


img {
  max-width: 40vmax;
  height:auto;
  margin-top: 7vmax;
}

.button {
  background-color: var(--acentColor);
  color: var(--bgColor);
  font-size: 1vmax;
  border: 0.3vmax var(--acentColor);
  border-radius: 0.3vmax;
  position: absolute;
  top: 0.5vmax;
  left: 0.5vmax;
}

.button:hover{
  background-color:  var(--acentHoverColor);
}

#rcorners1 {
  border-radius: 15px;
  background: #5A871A;/*#73AD21;*/
  padding: 30px;
  width: 400px;
  height: 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);

}

/* Style The Dropdown Button */
.dropbtn {
  border-radius: 0.3vmax;
  background-color: var(--acentColor);
  color: var(--bgColor);
  padding: .5vmax;
  font-size: 1vmax;
  border: none;
  cursor: pointer;
  position: relative;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  
  position: absolute;
  top: 6vw;
  left: 0.5vw;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropDownColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--bgColor);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--dropDownHoverColor)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--acentHoverColor);
}